* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* setting font and color preferneces */
:root {
    --text-color: rgb(201, 124, 93);
    --text-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    background-color: rgb(255, 241, 230);
}

/* Applying Header Styles */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 55px;
    border-bottom: 3px solid rgb(201, 124, 93, .5);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 85%;
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

header h1 {
    font-style: italic;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(179, 106, 94);
}

header nav ul li a {
    padding: 15px 35px;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(201, 124, 93);
}

header nav ul li a:hover {
    text-shadow: 0 0 .9px var(--text-color),0 0 .9px var(--text-color);
}
/* End Header Styling */

/* Styling the About Section */
.about-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 90px 100px 100px 90px;
  }
  
.about-container img {
    max-width: 100%;
    border-radius: 10px;
  }
  
.about-img {
    flex-basis: 40%;
  }

.about-container h2 {
    margin-bottom: 25px;
    font-size: 28px;
    text-align: center;
    border-bottom: 2px solid rgb(201, 124, 93, .5);
    padding-bottom: 10px;
    letter-spacing: 2px;
}  

.about-text {
    font-size: 24px;
    flex-basis: 50%;
    flex-wrap: wrap;
    font-family: var(--text-family);
    color: var(--text-color);
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: lighter;
    text-align: justify;
  }

  

/* End About Styles Section */

/* start work styles section */
.work-container {
    margin: 100px 100px 100px 125px;
}

.work-pt1 {
    display: flex;
    justify-content: space-between;
}

.work-pt1 img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
  }

  .work-img1 {
      flex-basis: 65%;
      position: relative;
      opacity: .7;
  }

  .work-img1:hover {
      opacity: 1;
  }

.work-pt1 h2 {
    font-size: 28px;
    letter-spacing: 2px;
    font-family: var(--text-family);
    color: var(--text-color);
    text-align: center;
    border-bottom: 2px solid rgb(201, 124, 93, .5);
    padding-bottom: 10px;

}

.work-text  {
    font-family: var(--text-family);
    color: var(--text-color);
    font-size: 24px;
    flex-basis: 30%;
    margin-right: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: lighter;
    text-align: justify;
}

.work-text p {
    margin-top: 15px;
}

.text-block {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgb(255, 241, 230);
  color: var(--text-color);
  padding: 40px 40px 40px 40px;
  border-radius: 10px;
  font-size: 16px;
}

.text-block:hover, .text-block2:hover {
    padding: 50px 50px 50px 50px;
}

.text-block a {
    color: var(--text-color);
}

.text-block h4 {
    font-size: 20px;
}

.work-pt2 {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.work-pt2 img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.work-img2, .work-img3 {
    flex-basis: 47.5%;
    position: relative;
    opacity: .7;
}

.work-img2:hover, .work-img3:hover {
    opacity: 1;
} 

.text-block2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgb(255, 241, 230);
    color: var(--text-color);
    padding: 40px 40px 40px 40px;
    border-radius: 10px;
    font-size: 16px;
  }

.text-block2 h4 {
    font-size: 20px;
}

.text-block2 a {
    color: var(--text-color);
}
.work-pt2 img {
    width:100%;
    height:300px;
    object-fit:cover;
    } 
/* END WORK SECTION */

/* CONTACT AND RESUME SECTION */
#contactme {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px 110px 100px 125px;
}

.contact {
    text-align: center;
    flex-basis: 50%;
}

.contact h2 {
    font-size: 28px;
    letter-spacing: 2px;
    font-family: var(--text-family);
    color: var(--text-color);
    text-align: center;
    border-bottom: 2px solid rgb(201, 124, 93, .5);
    padding-bottom: 10px;
}

.contact p {
    font-family: var(--text-family);
    color: var(--text-color);
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: lighter;
    margin-top: 10px;
}

.contact p a {
    color: var(--text-color);
}

/* Adding in Media Queries */
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width:768px) {
    header {
        display: block;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        border-bottom: none;
    }

    header nav ul {
        display: block;
    }

    .about-container {
        display: block;
    }

    .work-pt1 {
        display: block;
    }

    #contactme {
        justify-content: center;
        margin: 0;
        padding: 0;
    }

  }

/*MEDIA QUERY MOBILE PHONES AND SMALLER  */
@media screen and (max-width:575px) {
    header {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        border-bottom: none;
    }

    header nav ul {
        display: block;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .about-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .about-img, .about-text, .work-img1, .work-text {
        flex-basis: 100%;
    }

    .work-container {
        margin: 0;
        padding: 0;
    }

    .work-pt1 {
        display: block;
    }

    .text-block, .text-block2 {
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-color: rgb(255, 241, 230);
        color: var(--text-color);
        padding: 20px 20px 20px 20px;
        border-radius: 10px;
        font-size: 16px;
      }

    #contactme {
        justify-content: center;
        margin: 0;
        padding: 0;
    }

}

